<link rel="stylesheet" href="/css/page/header.css"/>
<div class="header">
    <div class="h_container">
        <div class="h_logo">
            <span>曦月</span>
        </div>
        <div class="h_nav">
            <ul>
                <a href="">
                    <li>
                        <i class="fa fa-home"></i>
                        主页
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="fa fa-camera"></i>
                        空间
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="fa fa-leaf"></i>
                        论坛
                    </li>
                </a>
            </ul>
            {% if !isLogin %}
            <div class="h_log_reg">
                <a href="">注册</a>
                <a href="">登录</a>
            </div>
            {% else %}
            <div class="h_log_reg">
                <a href="/user/signOut"><i class="fa fa-sign-out"></i></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>