<div class="h_userInfo">
    <div class="baseInfo">
        <p><img src="/image/avatar/default_avatar.jpg" alt=""/></p>

        <p>
            <span>用户名</span>
            <i class="fa fa-edit"></i>
        </p>

        <p><label>you are your job!</label></p>
    </div>
    <div class="listLink">
        <h5 class="sub_title">我的</h5>
        <ul>
            <a href="">
                <li>
                    我的资料
                    <i class="fa fa-chevron-right"></i>
                </li>
            </a>
            <a href="">
                <li>
                    我的空间
                    <i class="fa fa-chevron-right"></i>
                </li>
            </a>
            <a href="">
                <li>
                    好友状态
                    <i class="fa fa-chevron-right"></i>
                </li>
            </a>
            <a href="">
                <li>
                    留言板
                    <i class="fa fa-chevron-right"></i>
                </li>
            </a>
        </ul>
    </div>
</div>