{% extends '../shared/layout.html' %}
{% block content %}
<link rel="stylesheet" href="/css/page/home.css"/>
<div class="p_container home_login clearfix">
    {% include "../shared/user_left.html" %}
    <div class="home_container">
        <div class="today_star clearfix">
            <div class="today_star_title title">
                <h3>今日推荐</h3>
            </div>
            <div class="one_star">
                <img src="/image/content/adBig1.jpg" alt=""/>

                <div class="one_star_description_cover"></div>
                <div class="one_star_description">
                    <span>等爱ing</span><span>27岁</span><span>四川</span>
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <div class="one_star">
                <img src="/image/content/adBig1.jpg" alt=""/>

                <div class="one_star_description_cover"></div>
                <div class="one_star_description">
                    <span>等爱ing</span><span>27岁</span><span>四川</span>
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <div class="one_star">
                <img src="/image/content/adBig1.jpg" alt=""/>

                <div class="one_star_description_cover"></div>
                <div class="one_star_description">
                    <span>等爱ing</span><span>27岁</span><span>四川</span>
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <div class="one_star">
                <img src="/image/content/adBig1.jpg" alt=""/>

                <div class="one_star_description_cover"></div>
                <div class="one_star_description">
                    <span>等爱ing</span><span>27岁</span><span>四川</span>
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <div class="one_star">
                <img src="/image/content/adBig1.jpg" alt=""/>

                <div class="one_star_description_cover"></div>
                <div class="one_star_description">
                    <span>等爱ing</span><span>27岁</span><span>四川</span>
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <div class="one_star">
                <img src="/image/content/adBig1.jpg" alt=""/>

                <div class="one_star_description_cover"></div>
                <div class="one_star_description">
                    <span>等爱ing</span><span>27岁</span><span>四川</span>
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
        </div>
        <div class="friend_dynamic">
            <div class="friend_dynamic_title title">
                <h3>好友动态</h3>
            </div>
            <div class="friend_dynamic_list">
                <div>
                    <div class="avatar">
                        <img width="50" height="50" src="/image/avatar/default_avatar.jpg" alt=""/>
                    </div>
                    <div class="main_content">
                        <p class="name"><b>最美的星空</b></p>

                        <p class="content">
                            做英语阅读的感觉： 我们知道賢鏛是在生活中很重要的。比如在鼙蠻和贎鬍里，有彃燊在罅鷄那里蘩墝，之前他们鏈鴊恆闳嘑傡彚槩滼鞷蕻賤鬡艐倏雫寬褲灣曠隗谡堅鑷蠵。 1， 鞷 在文中的意思？
                            2，这篇文章的最佳标题？ 3，作者没有告诉我们什么？
                        </p>
                        <p class="updateTime">
                            <span>3小时前更新</span>
                        </p>
                        <p class="operate">
                            <span>转发 30</span><span>赞 20</span><span class="add_reply_btn">评论 5</span>
                        </p>
                        <div class="reply">
                            <div class="reply_avatar">
                                <img width="25" height="25" src="/image/avatar/default_avatar.jpg" alt=""/>
                            </div>
                            <div class="reply_main_content">
                                <div class="add_reply">
                                    <p><input type="text"/></p>
                                    <p><input type="button" value="评论"/></p>
                                </div>
                                <div class="reply_content">
                                    <div class="reply_content_avatar">
                                        <img width="25" height="25" src="/image/avatar/default_avatar.jpg" alt=""/>
                                    </div>
                                    <p><a href="">做英语阅读的感觉</a>： 我们知道賢鏛是在生活中很重要的。</p>
                                    <div class="reply_operate">
                                        <span>3小时前更新</span>
                                        <div>
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="world_voice">
        <div class="world_voice_title title">
            <h3>世界喊话</h3>
        </div>
        <div class="world_voice_content" id="world_voice_content">

        </div>
        <p>
            <input type="text" id="world_voice_input"/>
        </p>

        <p class="world_voice_submit">
            <input type="button" class="btn" id="add_world_voice" value="添加消息"/>
        </p>
    </div>
</div>
<script src="/js/page/home.js"></script>
{% endblock %}